---
const {headings} = Astro.props;
---

<ul class="inline-flex max-w-50 overflow-x-scroll flex-col bg-white outline-1 outline-gray-100 p-5! rounded">
  <!-- 存在一级标题时 -->
  {headings.find((item:any) => item.depth===1) && headings.map((heading:any) => <div>
    {heading.depth === 1 && <a href={`#${heading.slug}`}>{heading.text}</a>}
    {heading.depth === 2 && <a class="relative left-5" href={`#${heading.slug}`}>{heading.text}</a>}
    {heading.depth === 3 && <a class="relative left-10" href={`#${heading.slug}`}>{heading.text}</a>}
    {heading.depth === 4 && <a class="relative left-15" href={`#${heading.slug}`}>{heading.text}</a>}
  </div> )
  || 
  // 不存在一级标题
    headings.map((heading:any) => <div>
    {heading.depth === 1 && <a href={`#${heading.slug}`}>{heading.text}</a>}
    {heading.depth === 2 && <a class="relative" href={`#${heading.slug}`}>{heading.text}</a>}
    {heading.depth === 3 && <a class="relative left-5" href={`#${heading.slug}`}>{heading.text}</a>}
    {heading.depth === 4 && <a class="relative left-10" href={`#${heading.slug}`}>{heading.text}</a>}
  </div>)
  || 
  // 不存在二级标题
    headings.map((heading:any) => <div>
    {heading.depth === 1 && <a href={`#${heading.slug}`}>{heading.text}</a>}
    {heading.depth === 2 && <a class="relative" href={`#${heading.slug}`}>{heading.text}</a>}
    {heading.depth === 3 && <a class="relative" href={`#${heading.slug}`}>{heading.text}</a>}
    {heading.depth === 4 && <a class="relative left-5" href={`#${heading.slug}`}>{heading.text}</a>}
  </div>)
  }
</ul>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  a::after {
    content: none;
  }
  a:hover {
    background: var(--color-indigo-300);
    color: white;
  }
</style>