---
import BaseLayout from "./BaseLayout.astro";
import {author_info} from '../config/site';
import Tag from "../components/Tag.astro";
const { frontmatter, post } = Astro.props;
const slug = post?.slug;
---

<div id="markdown-container" class="my-2 p-2 rounded">
  <BaseLayout>
    {frontmatter?.image?.url && <img src={frontmatter?.image?.url} width="300" alt={frontmatter?.image?.alt} />}
    <!-- 文章标题 -->
    <h1 class="text-center border-b-0!"><span class="inset-shadow-sm bg-gray-50 inset-shadow-gray-200 px-2">{slug}</span></h1>
    <p><em>{frontmatter?.description}</em></p>
    <p>{frontmatter?.pubDate?.toString().slice(0, 10)}</p>
    <!-- 作者名 -->
    <p class="text-slate-400 text-sm text-center">作者：{frontmatter?.author || author_info?.name}</p>

    <slot />

  
    <div class="flex justify-center gap-5 flex-wrap py-5">
      {
        Array.isArray(frontmatter?.tags) && frontmatter?.tags?.map((tag: string) => (
          <Tag tag={tag} />
        ))
      }
    </div>
  </BaseLayout>
</div>

<style>
a {
  color: #00539f;
}

#markdown-container {
  --color: rgb(241, 241, 241);
  background-image: 
    linear-gradient(to bottom,transparent 29px,var(--color) 1px),
    linear-gradient(to right,transparent 29px,var(--color) 1px) ;
  background-size: 30px 30px;
  background-repeat: repeat;
}

h1 {
  padding: 0;
  margin: 0;
}
</style>
